#header {
  margin: 0 auto;
  display:flex;
  flex-direction:column;
  align-items: flex-end;
  width: 85%;
}

.title {
  display: flex;
  
}

img {
  max-width: 70px;
  margin-right: 10px
}

h2 {
  padding-left: 0.5em;
}

.score {
  margin:0;
  color: #6c90ac;
}

.tried {
  margin-top: 0;
}


#cards {
  display:flex;
  flex-wrap:wrap;
  width:86%;
  margin:0 auto;
}

.card {
  /**卡片在容器裡的排版**/
  flex: 7% 1 1; /* 每個 item 分配容器寬度 */
  height: 8vw; /* 依視窗的寬度等比例變化 */
  border: 2px solid #e0e0e0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin:2px;
  box-sizing: border-box;
}

.card img{
  max-width:30%;
  align-self: center;
}

.card p{
  margin:3px;
  font-size: 20px;
}

.card p:last-child{
  transform: rotate(180deg);
}

.back {
  background: url('https://assets-lighthouse.alphacamp.co/uploads/image/file/9222/ExportedContentImage_00.png');
  background-size: cover;
}

.paired {
  background-color: #dae0e3;
}

/**CSS 動畫特效：關鍵影格**/
.wrong {
  animation-name: wrongAnimation;
  animation-duration: 0.2s;
  animation-iteration-count: 5;
}

@keyframes wrongAnimation {
  to {
    border: 2px solid #ffd54f;
  }
}

/**遊戲結束**/
.completed {
  position: absolute;
  z-index: 999;
  top: 33vh;
  background-color: RGBA(232, 246, 254, 0.8);
  width: 100vw;
  padding: 50px 0;
}

.completed>p {
  font-size: 1.5em;
  color: black;
  text-align: center;
  margin: 0;
}

.completed>p:first-child {
  font-size: 3em;
  font-weight: 700;
  color: #758d9a;
}